{
	"semi": false,
	"tabWidth": 2,
	"printWidth": 80,
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"proseWrap": "always",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-organize-imports"],
	"organizeImportsSkipDestructiveCodeActions": true
}
